<h1>Произведения опубликованные: {{ requested_date }}</h1>

{% for book in page.object_list %}
    <div class="book">
        <h2>Книга: {{ book.name }}</h2>
        <p>Автор: {{ book.author }}</p>
    </div>
{% empty %}
    <p>Нету книг на текущую дату.</p>
{% endfor %}

<div class="navigation">
    {% if prev_date %}
        <a href="{% url 'books_sorted_date' date=prev_date %}">{{ prev_date|date:'Y-m-d' }}</a>
    {% endif %}
    {% if next_date %}
        <a href="{% url 'books_sorted_date' date=next_date %}">{{ next_date|date:'Y-m-d' }}</a>
    {% endif %}
</div>